doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      ul
        li
          a(href='/') Главная
        li
          a(href='/contacts') Контакты
        li
          a(href='/about') О нас
    block content
